<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
<connectionStrings>
  <add name="conn" connectionString="Server=7a435fea-a28c-417f-a2bc-a5e2004056fc.sqlserver.sequelizer.com;Database=db7a435feaa28c417fa2bca5e2004056fc;User ID=aagloncvcwcoccrv;Password=NUHWi7BYFo8jvMoNqW3o8QMgTNAHnYLNrNHXjyMcFx5vF4ByMzsrmz27gAcBD3KP;"/>
</connectionStrings>
</configuration>
